@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Buda:300);
@import url(reset.css);
@import url(responsive.gs.12col.css);

html, body{
	/*height: 100%;*/
}

@font-face {
	font-family: 'RunyTunesRevisitedNF';
	src: url(../runytunesrevisited/RunyTunesRevisitedNF.ttf);
}

.container{
	height: 100%;
	padding-bottom: 100px;
	position: relative;
}

.col img{
	width: 100%;
}

h1 {
	font-family: 'RunyTunesRevisitedNF', cursive;
	font-size: 5.25em;
	color: black;
}

h2 {
	font-family: 'RunyTunesRevisitedNF', cursive;
	font-size: 3em;
	color: black;
	padding-top: 40px;
	padding-bottom: 20px;
}

h3 {
	font-family: 'RunyTunesRevisitedNF', cursive;
	font-size: 2em;
	line-height: 1.4em;
	color: black;
}

h4{
	cursor: pointer;
	font-weight: bold;
	font-size: 1.4em;
}

body {
	font-size: 1.1em;
	font-family: 'Buda', serif;
	position: relative;
	background: #F5F1C6;
	background: #F5F1C6 url(../images/nouveauback1.jpg) no-repeat top center fixed;
	background-size: contain;
}

p, li {
	font-family: 'Buda';
	font-size: 1.1em;
	line-height: 1.2em;
	color: black;
}

img{
	padding: 0.25em;
	border: 0.25em solid #A69B24;
}

nav ul{
	margin-top: 1.5em;
	border-right: 8px solid black;
    border-left: 8px solid black;
	background-color: #A69B24;
}

nav li {
	font-family: 'Buda';
	list-style-type: none;
	font-size: 1.25em;
	color: white;
    float: middle left;
    text-align: center;
    font-style: italic;
}

nav li a {
	color: white;
	width: 100%;
	display: inline-block;
}

nav li a:hover {
    background-color: black;
    color: white;
    -webkit-transition: background-color 0.25s ease-out 0;
}

nav li a:hover {
    background-color: black;
    text-shadow: 0px 0px 10px white;
    -webkit-transition: text-shadow 0.5s ease-in 0, background-color 0.5s linear 0;
}

.workshops h4 + ol{
	display: none;
	margin-left: 1em;
}

footer {
	font-family: 'Buda';
	font-size: 1em;
    padding: .25em;
    text-align: center;
	font-style: italic;
	margin-top: 2em;
}

section{
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

a.hover {
	text-decoration: underline;
}

a.active {
	text-decoration: underline, bold;
}

#header {
    color: white;
    text-align: center;
    margin: 0.1em auto;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
    background: #A69B24;
    border-right: 8px solid black;
    border-left: 8px solid black;
}

