@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


/*CSS Document */

/* elements */
nav a:link {
	color: white;
}
	
a:hover {
	color: #FF5600;
	}
	
a:active {
	color: purple;
	}

html{
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em; 
    font-family: 'Lato';
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background: #FFFFCC;
 	background-size: cover;
 	color: black;
}

footer {
    font-family: 'Calligraffitti', cursive;
    font-style: italic;
    font-size: 1.75em;
    padding: .15em;
    text-align: center;
}

h1 {
    font-size: 4em; 
	font-family: 'Calligraffitti', cursive;
	margin: 0;
    color: #FFFFCC;
    margin: 0 0.5em;
}

h2 {
    font-size: 2.25em; /* 36px/16=2.25em */
    font-family: 'Calligraffitti', cursive;
	font-style: italic;
	line-height: 30px;
	margin: .85em 0 .5em;
	text-decoration: underline;
}

img {
	border: 5px solid black;
	padding: 5px; /* space between edge of photo and border */ 
	margin: 5px; /* make 5px of space between text and left edge of photo */
	/*margin-left: 300px;*/
}

nav {
    height: 2em;
    font-size: 1.25em;
    text-align: left;
    margin: 0 0.5em;
    padding: 0;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li {
    display: inline-block;
    text-align: center;
    margin: 0;
    list-style-type: none; 
    font-family: 'Lato'; 
}

nav li a {
    text-decoration: none;
    padding: 0.5em; 
    background-color: gray;
    margin-right: 5px;
    color: white;
}

nav li a:hover {
    background-color: black;
    color: #FF6699;
    text-decoration: none;
    -webkit-transition: background-color 0.25s ease-out 0;
}

nav li a:active {
    background-color: black;
    text-shadow: 0px 0px 10px white;
    color: blue;
    -webkit-transition: text-shadow 0.5s ease-in 0, background-color 0.5s linear 0;
}

p {
	font-size: 16px;
	line-height: 26px;
}

table {
	width: 100%;
	border: 15px;
	border-color: #FFC673;
	margin: 0 auto;
	margin-left: none;
	padding-bottom: 15px;
	padding-right: 10px;
 }


th {
	text-align: center;
	letter-spacing: 0.1em;
	border-top: 1px solid #FF9700;
	border-bottom: 2px solid #FF9700;
	background-color: #00AA72;
	border-color: #FFC673;
	border: 15px;
	padding: 10px;
	color: white;
	font-size: 120%;
	font-family: 'Lato';
	}

td {
	padding: 10px;
	border-width: 1px 1px 3px 1px;
	background-color: #60D4AE;
	text-align: left;
	vertical-align: top;
	}


/* ids */

#footer {
    background: rgb(220,220,220);
    border-bottom: 15px solid black;
    font-family: 'Calligraffitti', cursive;
    font-size: 1.25em;
    color: black;
    padding: 0.01em;
}

#header {
	background: #FF6699;
    border-bottom: 3px solid gray;
    color: white;
    margin-bottom: 0.5em;
}

#main-content {
	margin: 0 0.5em;
	color: black;
}







